<nav class="navbar navbar-expand-lg py-0 px-4">
  <a class="navbar-brand" href="#"><img src="{{ logo }}" /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <select class="form-select mx-3" aria-label="Default select example">
          <option selected>Home</option>
          <option value="1">Home</option>
        </select>
      </li>
      <li class="nav-item">
        <form class="form-inline mx-5 my-2 my-lg-0">
          <input
            class="form-control"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
        </form>
      </li>
    </ul>
  </div>
</nav>
