<div class="card">
  <div class="upvotes">
    <fa-icon [icon]="faArrowUp"></fa-icon>
    <span>{{ link.data.ups | thousandSuffix }}</span>
    <fa-icon [icon]="faArrowDown"></fa-icon>
  </div>
  <div class="thumbnail">
    <img
      src="{{
        link.data.thumbnail === 'self' ||
        link.data.thumbnail === 'default' ||
        link.data.thumbnail === 'nsfw'
          ? defaultThumbnail
          : link.data.thumbnail
      }}"
      class="img-fluid rounded"
      alt="..."
    />
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ link.data.title }}</h5>
    <p class="card-text">
      <span style="font-weight: bold"
        >{{ link.data.subreddit_name_prefixed }} • </span
      ><span style="color: rgb(129, 131, 132)"
        >Posted by u/{{ link.data.author }}</span
      >
      <span>LINK ID: {{ link.data.id }}</span>
    </p>
  </div>
</div>
