<div class="card link-card" (click)="triggerModal(modalData)">
  <div class="upvotes">
    <fa-icon [icon]="faArrowUp"></fa-icon>
    <span>{{ link.data.ups | thousandSuffix }}</span>
    <fa-icon [icon]="faArrowDown"></fa-icon>
  </div>
  <div class="thumbnail">
    <img
      src="{{
        link.data.thumbnail === 'self' ||
        link.data.thumbnail === 'default' ||
        link.data.thumbnail === 'nsfw'
          ? defaultThumbnail
          : link.data.thumbnail
      }}"
      class="img-fluid rounded"
      alt="..."
    />
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ link.data.title }}</h5>
    <p class="card-text">
      <span style="font-weight: bold"
        >{{ link.data.subreddit_name_prefixed }} • </span
      ><span style="color: rgb(129, 131, 132)"
        >Posted by u/{{ link.data.author }}</span
      >
      <span>LINK ID: {{ link.data.id }}</span>
    </p>
  </div>
</div>
<ng-template #modalData let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Angular Bootstrap Modal Popup
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      <strong
        >Are you sure you want to delete
        <span class="text-primary">"Agatha Harkness"</span> profile?</strong
      >
    </p>

    <p>All data related to west view profile will be removed permanently.</p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal.close('Save click')"
    >
      Close
    </button>
  </div>
</ng-template>
