// @import "~bootstrap/scss/bootstrap";
@import "../../../styles.scss";
.link-card {
  display: grid;
  grid-template-columns: auto auto 4fr;
  grid-template-rows: auto;
  grid-template-areas: "upvotes thumbnail content";
  justify-items: start;
  border: thin solid #ccc;
  border-bottom: none;
  border-radius: 0px;
  background-color: #ffffff;
  &:hover {
    border: thin solid #999;
  }
  // &:nth-child(1) {
  //   border-radius: 5px;
  // }
  .upvotes {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 10px 5px;
    background-color: #f8f9fa;
    font-size: 12px;
    font-weight: bold;
  }
  .thumbnail {
    transition: filter 0.5s;
    height: 72px;
    width: 96px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .card-title {
    font-size: 16px;
  }
  .card-text {
    font-size: 12px;
  }
  @include media-breakpoint-up(md) {
    // background: red;
  }
  @include media-breakpoint-up(xl) {
    //  @include make-col(4);
  }
}
